FROM_EMAIL=email@trii.co
MJ_APIKEY_PUBLIC="test_MJ_APIKEY_PUBLIC"
MJ_APIKEY_PRIVATE="test_MJ_APIKEY_PRIVATE"
DB_ENGINE=mysql+aiomysql
DB_IP=34.75.198.133
DB_USER=root
DB_PASSWORD=CFpufB5usjgmC0DP
DB_NAME=page-trii
be_auth=https://be-auth-d5w4w464wa-ue.a.run.app/
be_user_data_co=https://be-user-data-co-d5w4w464wa-ue.a.run.app/
secret_key=IGcJzCHi5-d1rSmqT1jQwP3VbRJcz1qon-u1fdyQZnk=
PSE_REDIRECT_URL=https://web.trii.co/cashin/ticket
