{% extends "_base.html" %}
{% block title %}Términos{% endblock %}
{% block description %}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/privacy.css">
{% endblock %}
{% block content %}
{% from '/components/navbar.html' import navbar %}
{% from '/components/footer.html' import footer %}
<header>
   {{navbar ()}}
</header>

    <title>Términos & Condiciones del Programa Trii Pro</title>

<section class="terms">
    <h1 class="title">TÉRMINOS & CONDICIONES DEL PROGRAMA TRII PRO</h1><br>
    <h2>1. Propósito</h2><br>
    <p>Estos Términos y Condiciones (en adelante "T&C") reglamentan el programa TRII PRO (en adelante el "Programa" o “trii Pro”), el cual es prestado por Acciones y Valores S.A. Comisionista de Bolsa (en adelante "Acciones y Valores") en el marco de los servicios de intermediación de valores - ruteo electrónico de órdenes - (en adelante, “trii App”), a través de su aplicación.</p><br>
    <p>Los T&C aquí descritos no reemplazan ni modifican los términos y condiciones generales de trii App por lo cual, para acceder al Programa el Cliente debe aceptar los Términos y Condiciones Generales de trii (en adelante, “T&C Generales”), así como su Política de Tratamiento de Datos Personales, documentos que pueden ser consultados en el Sitio en la ruta: opción "Menú", opción "Sobre nosotros".</p><br>
    <p>Si no está de acuerdo, por favor abstenerse de acceder al Programa.</p><br>
<br>
    <h2>2. Definiciones</h2><br>
    <p>Para el correcto entendimiento de los presentes T&C, se deben tener en cuenta las siguientes definiciones:</p><br>
    <ul><br>
        <li>"BVC" se refiere a la Bolsa de Valores de Colombia.</li><br>
        <li>“Cliente” es la persona cliente, según este término se define en la Ley, de Acciones y Valores a través de su Sistema Electrónico de Ruteo trii App, que accede al Programa.</li><br>
        <li>“Programa” significa el programa de carácter opcional al que puede acceder el Cliente para obtener beneficios adicionales a los que tiene acceso a través del Sistema Electrónico de Ruteo de Órdenes.</li><br>
        <li>"Valor" o "Valores" es todo derecho de naturaleza negociable que haga parte de una emisión, cuando tenga por objeto o efecto la captación de recursos del público, independientemente de si este se adquiere en mercado primario o secundario. A través del Sistema Electrónico de Ruteo de Órdenes trii App, el Cliente podrá acceder a Acciones y a valores del Mercado Global Colombiano, ambos listados en la Bolsa de Valores de Colombia.</li><br>
    </ul><br>
    <h2>3. Descripción y Condiciones del Programa</h2><br>
    <p>Los Usuarios que accedan al Programa trii Pro, tendrán acceso a los siguientes beneficios:</p><br>
    <h3>3.1 Comisiones.</h3><br>
    <p>Las comisiones generadas por las operaciones de compra y venta de los Valores a los que pueden acceder los Clientes a través del Sistema Electrónico de Órdenes trii App, tendrán un 50% off respecto de la tarifa plena de comisión de trii App, descrita en el Anexo 4 del presente documento, pero que en cualquier caso se sujetará a las Tarifas señaladas por Acciones y Valores.</p><br>
    <p>El 50% off que se otorga como parte del Programa siempre tendrá como punto de referencia el valor de la tarifa plena de trii App, por lo tanto, en el evento en que trii App tenga una tarifa promocional esporádica, esto no afectará los T&C de trii Pro.</p><br>
    <p>En cualquier momento, y previa comunicación al usuario, Acciones y Valores podrá modificar las tarifas de sus servicios, lo cual ajustará la tarifa de trii Pro.</p><br>
    <br>
    <h3>3.2. Acceso a información en tiempo real e información.</h3><br>
    <p>Los Clientes usuarios de trii Pro tendrán acceso tecnológico en tiempo real a la información de mercado de la BVC, la cual incluye los precios de los Valores y las cinco mejores puntas de compra y venta (en adelante la "Información").</p><br>
    <p>Los Clientes que accedan al Programa pueden consultar la Información para su propio uso y la toma de sus decisiones de inversión, sin embargo deberán abstenerse de reproducirla, copiarla, retransmitirla, venderla, entregarla a terceros, o cualquier otra actividad diferente a la consulta.</p><br>
    <p>En el evento en que el Cliente utilice la Información para una finalidad diferente a la establecida en los presentes T&C, Acciones y Valores podrá suspender de manera inmediata la prestación del Programa al Cliente, circunstancia que el Cliente declara conocer y aceptar.</p><br>
    <br>
    <h3>3.3. Informes Premium.</h3><br>
    <p>Los Clientes usuarios de trii Pro recibirán semanalmente en el correo electrónico registrado, Informes Económicos generados por Acciones y Valores S.A. sobre perspectivas económicas y comportamiento del mercado.</p><br>
    <p>En ningún escenario los Informes Premium contendrán recomendaciones individualizadas sobre decisiones de inversión y, por tanto, no deben entenderse como una manifestación de la actividad de asesoría contemplada en el Decreto 661 de 2018 según este se modifique, adicione o instruya de tiempo en tiempo.</p><br>
    <br>
    <h3>3.4. Programa de atención preferencial al cliente.</h3><br>
    <p>Los Clientes usuarios de trii Pro, tendrán acceso a un servicio de atención preferencial que se prestará a través de chat o llamada, a solicitud del Cliente mediante trii App. A través de este mecanismo, se resolverán preferencialmente las consultas o se dará soporte sobre los aspectos relacionados con trii App.</p><br>
    <p>Los aspectos relacionados o derivados del Contrato de Comisión que sean objeto de una petición, queja o reclamo, serán atendidos a través de los canales tradicionales dispuestos para ello y no se tramitarán bajo el servicio de atención preferencial al cliente. Los canales de atención pueden encontrarse en el siguiente <a href="https://www.accivalores.com/sobre-nosotros-para-personas-y-familias/consumidor-financiero">link</a>.</p><br>
    <p>En ningún caso el servicio de atención preferencial al cliente podrá afectar a los demás clientes de Acciones y Valores a través de su Sistema Electrónico de Ruteo de Órdenes, quienes deberán ser atendidos en los términos y plazos establecidos regulatoriamente.</p><br>
    <br>
    <h3>3.5 Funcionalidades Pro a discreción del prestador.</h3><br>
    <p>A su discreción, Acciones y Valores podrá activar funcionalidades específicas dirigidas a los usuarios trii pro, como, pero sin limitarse, acceso a las subasta de volatilidad y de cierre, configuración de stop loss y vista de oportunidades en el perfil de la acción, entre otras. Estas funcionalidades podrán habilitarse o deshabilitarse en cualquier momento, por lo que bajo ningún escenario podrá entender qué Acciones y Valores está obligado a mantener habilitado una funcionalidad en particular.</p><br>
    <p>Adicionalmente, a través de triipro, los usuarios podrán acceder a beneficios exclusivos. En dichos casos, serán aplicables los términos y condiciones específicos de cada beneficio, los cuales podrán diferir de los términos y condiciones generales establecidos en el presente documento.</p><br>
    <br>
    <h2>4. Acceso al Programa, Condiciones de Pago, Derecho de Retracto y Reversión del Pago.</h2><br>
    <p>Para acceder al Programa, el Cliente deberá cancelar las tarifas establecidas anualmente, las cuales se encuentran en el Anexo 5 de los presentes T&C (en adelante la "Tarifa"). Para realizar el pago de la Tarifa se dispondrán de los mecanismos de pago establecidos en trii App.</p><br>
    <p>En el evento en el que el pago se efectúe a través del saldo en caja del Cliente, se entiende que el Cliente ha dado una instrucción a Acciones y Valores en la que lo autoriza descontar del saldo en caja de su cuenta las sumas de dinero correspondientes a la tarifa anual o mensual del programa trii Pro seleccionada y al Gravamen de Movimientos Financieros.</p><br>
    <p>La instrucción dada por el Cliente, incluye la renovación automática del plan de suscripción elegido, la cual se hará con las condiciones en la que fue adquirido inicialmente. Si al momento de la renovación, el Cliente no cuenta con la totalidad del saldo necesario en su cuenta, se podrán realizar hasta tres intentos adicionales para debitar del saldo en caja el monto total correspondiente al plan.</p><br>
    <p>Si el pago del Programa se efectúe mediante tarjeta de crédito, la tarifa se cobrará automáticamente para el mes o anualidad siguiente, según sea el caso, en la fecha de suscripción o el día hábil anterior cuando proceda. El Cliente tiene total libertad para cambiar el plan de mensual a anual, o anual a mensual (una vez haya vencido el periodo inicial) o cancelar el Programa en cualquier momento. En el evento de cancelación, esta se hará efectiva al terminar el periodo (mensual o anual) de suscripción.</p><br>
    <p>Teniendo en cuenta que el Programa inicia en el mismo momento en que el Cliente efectúa el pago de la Tarifa, el Cliente declara que conoce y acepta que no procede el derecho de retracto en los términos establecidos en el numeral 1º del artículo 47 de la Ley 1480 de 2011.</p><br>
    <p>Por su parte, el Cliente podrá solicitar la reversión del pago, cuando se configure alguno de los siguientes escenarios:</p><br>
    <ul><br>
        <li>Cuando el consumidor sea objeto de fraude.</li><br>
        <li>Cuando corresponda a una operación no solicitada.</li><br>
        <li>Cuando el producto adquirido no sea recibido.</li><br>
        <li>Cuando el producto entregado no corresponda a lo solicitado, no cumpla con las características inherentes o las atribuidas por la información que se suministre sobre él.</li><br>
        <li>Cuando el producto entregado se encuentre defectuoso.</li><br>
    </ul><br>
    <p>La solicitud deberá efectuarse a más tardar dentro de los cinco (5) días hábiles siguientes a la fecha en que el Cliente tuvo noticia de la operación fraudulenta o no solicitada, o en que debió haber recibido el producto o lo recibió defectuoso o sin que correspondiera a lo solicitado y en ella deberán indicarse los siguientes puntos:</p><br>
    <ul><br>
        <li>Manifestación expresa de las razones que fundamentan la solicitud de reversión del pago.</li><br>
        <li>Indicación de la causal que sustenta la petición, que deberá corresponder a alguna o algunas de las señaladas en el artículo 2.2.2.51.2. del Decreto 527 de 2016.</li><br>
        <li>Valor por el que se solicita la reversión.</li><br>
        <li>Identificación de la cuenta bancaria, tarjeta de crédito o instrumento de pago al que fue cargada la operación.</li><br>
    </ul><br>
    <p>La reversión del pago se realizará al mismo método de pago utilizado por el Cliente para el pago de la Tarifa y podrá verse reflejado hasta treinta (30) días después de haber solicitado la reversión.</p><br>
    <h2>5. Periodo de Prueba.</h2><br>
    <p>Acciones y Valores S.A. podrá a su discreción habilitar la opción de un periodo de prueba del Programa, el cual podrá tener una duración de hasta de treinta (30) días calendario, término durante el cual el Cliente podrá acceder al Programa sin pagar. El periodo de prueba sólo podrá ser usado una vez por Cliente. Hasta la fecha de finalización del periodo de prueba el Cliente podrá cancelar su suscripción o renovarla automáticamente por un periodo mensual (30) días o un periodo anual (365) días de acuerdo con la Tarifa.</p><br>
    <h2>6. Limitación a la Responsabilidad</h2><br>
    <p>6.1 Los Clientes declaran conocer y aceptar los riesgos asociados a la decisión de invertir en el mercado de valores, en especial en los valores de media liquidez o bursatilidad y asumen íntegramente tales riesgos de manera individual y exclusiva, sin que pueda entenderse que el Patrocinador y/o Acciones y Valores S.A. garantizan, explícita o implícitamente, los rendimientos de las operaciones, el pago de dividendos de las acciones adquiridas o el valor de estas.</p><br>
    <p>6.2 Adicionalmente, los Participantes declaran conocer que:</p><br>
    <ul><br>
        <li>6.2.1 Ni Acciones y Valores S.A., ni trii App, son responsables por las fluctuaciones de mercado a las que puedan estar sometidas los Valores. En tal sentido, el precio de los Valores NO dependen de ellos por lo cual, no garantizan su valor en el mercado, valorizaciones o ganancias.</li><br>
        <li>6.2.2 Los Beneficios del Programa, no implican un acto de asesoría, oferta, recomendación, consejo o cualquier otro similar por parte de Acciones y Valores S.A. o el Grupo TT, ni un acto de promoción de un emisor particular, ni de recomendación sobre uno de ellos.</li><br>
        <li>6.2.3 La inversión en Valores es un mecanismo de inversión y por lo tanto está sujeta a pérdidas o ganancias, de acuerdo con las variaciones del mercado. LA INVERSIÓN EN VALORES NO ES UN MECANISMO DE AHORRO.</li><br>
    </ul><br>
    <p>6.3 En virtud del Contrato de Comisión los Clientes han sido informados sobre los riesgos asociados a la decisión de invertir en el mercado de valores, y asumen íntegramente tales riesgos de manera individual y exclusiva, sin que pueda entenderse que Acciones y Valores S.A. ni trii App garantizan, explícita o implícitamente, los rendimientos de las operaciones, el pago de dividendos de las acciones adquiridas o el valor de estas.</p><br>
    <p>6.4 Los Participantes declaran conocer los distintos Emisores listados en la Bolsa de Valores de Colombia y declaran que en ningún momento el Programa obstaculiza la libre concurrencia para la negociación de valores.</p><br>
    <p>6.5 En cumplimiento de lo permitido por la normativa colombiana Acciones y Valores podrá suspender de forma inmediata la Campaña, sin asumir responsabilidad alguna, si se llegasen a detectar delitos, fraudes o cualquier irregularidad en la forma de participar de los participantes, o si se presentara alguna circunstancia de fuerza mayor o caso fortuito. Igualmente, Acciones y Valores S.A. se reservan el derecho de rechazar o cancelar trii Pro a un Cliente en cualquier momento, cuando se detecte un incumplimiento de su parte a los presentes T&C.</p><br>
    <h2>7. Revisión de los Términos y Condiciones</h2><br>
    <p>Cualquier modificación realizada sobre estos T&C será comunicada al Cliente a través de trii App informando la fecha a partir de la cual surtirán efecto. En caso de que el Cliente no esté de acuerdo con las nuevas condiciones, el Programa se dará por finalizado una vez se cumpla el último día de vigencia de su compra. En caso de aceptación, el Programa se entenderá renovado con base en la periodicidad elegida, mensual o anual.</p><br>
    <h2>8. Tratamiento de datos personales</h2><br>
<p>De conformidad con lo dispuesto en la Ley 1581 de 2012, el Decreto 1377 del 2013 y las normas complementarias, el participante autoriza irrevocablemente que los datos de carácter personal del cliente que se obtengan en virtud de la Campaña sean tratados en una o varias bases de datos administrada por Acciones y Valores S.A. y por el Patrocinador, de acuerdo con la Política de Tratamiento de Datos de cada una de estas entidades, las cuales serán tratadas según las políticas de protección de datos personales de cada Compañía.</p><br>
<p>Acciones y Valores S.A. será responsable de su administración junto con los encargados que este designe, e implementará las medidas de seguridad necesarias para la conservación y protección de los mismos. Asimismo, los datos personales de los clientes serán recopilados para fines operativos, comerciales y de mercadeo, de prevención de riesgo y estadísticos, por Acciones y Valores S.A. y por cualquiera de sus aliados comerciales, y en general, para permitir el cumplimiento de las obligaciones de Acciones y Valores S.A. que le sean exigibles por disposiciones legales o reglamentarias.</p><br>
<h2>9. Ley Aplicable.</h2><br>
<p>Los Participantes reconocen y aceptan que la ley aplicable para cualquier controversia que surja con relación a la Campaña será la Ley colombiana y renuncian a su derecho a iniciar cualquier tipo de reclamación en otra jurisdicción.</p><br>
<h2>Anexo 1</h2><br>
<h3>Valores por concepto de Comisión para el año 2021</h3><br>
<table>
    <thead>
        <tr>
            <th>Comisión - Tarifa Plena trii App</th>
            <th>Tarifa Trii Pro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>COP $10,000 + IVA para operaciones entre 0 y COP $5,000,000 + IVA</td>
            <td>COP $5,000 + IVA para operaciones entre 0 y COP $5,000,000 + IVA</td>
        </tr>
        <tr>
            <td>0.2% + IVA para operaciones desde COP $5,000,001 en adelante</td>
            <td>0.1% + IVA para operaciones desde COP $5,000,001 en adelante</td>
        </tr>
    </tbody>
</table>
<p>*Estos valores serán ajustados anualmente y podrán ser revisados y modificados en cualquier tiempo, circunstancia que será informada oportunamente a los Clientes.</p>
<h2>Anexo 2</h2>
<h3>Tarifa Trii Pro para el año 2021</h3>
<table>
    <thead>
        <tr>
            <th>Tipo de Suscripción</th>
            <th>Valor de Suscripción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mensual</td>
            <td>COP $23,900</td>
        </tr>
        <tr>
            <td>Anual</td>
            <td>COP $239,000</td>
        </tr>
    </tbody>
</table>
<p>*Estos valores serán ajustados anualmente y podrán ser revisados y modificados en cualquier tiempo, circunstancia que será informada oportunamente a los Clientes.</p>
<h2>Anexo 3</h2>
<p>Para el año 2022, los valores por concepto de Comisión y Tarifa trii Pro fueron las mismas que las establecidas para el año 2021.</p>
<h2>Anexo 4</h2>
<h3>Valores por concepto de Comisión para el año 2023, 2024 y 2025</h3>
<table>
    <thead>
        <tr>
            <th>Comisión - Tarifa Plena trii App</th>
            <th>Tarifa Trii Pro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>COP $12,500 + IVA para operaciones entre 0 y COP $5,000,000 + IVA</td>
            <td>COP $6,250 + IVA para operaciones entre 0 y COP $5,000,000 + IVA</td>
        </tr>
        <tr>
            <td>0.25% + IVA para operaciones desde COP $5,000,001 en adelante</td>
            <td>0.125% + IVA para operaciones desde COP $5,000,001 en adelante</td>
        </tr>
    </tbody>
</table>
<p>*Estos valores serán ajustados anualmente y podrán ser revisados y modificados en cualquier tiempo, circunstancia que será informada oportunamente a los Clientes.</p>
<h2>Anexo 5</h2>
<h3>Tarifa Trii Pro para el año 2023, 2024 y 2025</h3>
<table>
    <thead>
        <tr>
            <th>Tipo de Suscripción</th>
            <th>Valor de Suscripción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mensual</td>
            <td>COP $27,900 + IVA</td>
        </tr>
        <tr>
            <td>Anual</td>
            <td>COP $279,000 + IVA</td>
        </tr>
    </tbody>
</table>
<p>*Estos valores serán ajustados anualmente y podrán ser revisados y modificados en cualquier tiempo, circunstancia que será informada oportunamente a los Clientes.</p>
</section>
{{footer()}}
{% endblock %}
